:root {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;

    text-wrap: nowrap;

    cursor: default;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;


    text-decoration: none;
    list-style: none;
    color: black;
    
    min-width: fit-content;
    min-width: fit-content;
}